@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Conto1</h2>
        <p>
            Mel Kosk
            TARpe23
            2024/2025
        </p>
    </div>
    <div class="col-md-4">
        <h2>pealkiri</h2>
        <p>
            tekst tekst
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/mel2134">Github</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Conto3</h2>
        <p>
            tekst tekst 1
            tekst tekst tekst 
            tekst tekst 
            tekst tekst 
            tekst
        </p>
    </div>
</div>